/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

@charset "UTF-8";
/* 共通部分　=============================== */
html {
  font-size: 100%;
}

body {
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #3ecdc6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
/* ヘッダー ================================ */
.page-header {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.header-logo {
  color: white;
  line-height: 64px;
  font-size: 28px;
}

.header-logo a {
  color: white;
  font-size: 28px;
}

.main-nav {
  display: flex;
  font-size: 20px;
  line-height: 64px;
  text-transform: uppercase;
}

.main-nav li {
  margin-left: 15px;
}

.main-nav a {
  color: #432;
}

.main-nav a:hover {
  color: #0bd;
}

/* トップ ============================= */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 30px;
  margin: 10px 0 42px;
}
