@charset "UTF-8";
/* 共通部分 ================================ */
html{
  font-size: 100%;
}

body{
      font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}
/* ヘッダー ================================ */
.page-header {
  height: 80px;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding-left: 20px;
  font-size: 32px;
  line-height: 80px;
}

.header-logo a{
  font-size: 32px;
}

.main-nav{
  display: flex;
  line-height: 80px;
  font-size: 28px;
  padding-right: 20px;
}

.main-nav li{
  padding-left: 15px;
}

/* top ================================ */
.home-content{
  text-align: center;
  margin-top: 10px;
}

.home-content p{
  font-size: 1.125rem;
}
